
.all{
    background-color: rgb(122, 118, 118);;
   
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
   
}

.head{ 
    background-color: rgb(208, 122, 122); ;
}    

.nav{
background-size: cover;
position: relative;
left: 10px;
text-decoration: none;

}




.zezo{
  padding-right: 500px;
 }

.play{
   padding-right:  80px;
} 
.won{
    padding-right: 80px
} 
.drawn{
    padding-right: 80px;
} 
.lost{
    padding-right: 80px;
} 
.GF{
    padding-right: 80px;
} 
.GA{
    padding-right: 80px;
} 
.GD{
    padding-right: 80px;
} 
.points{
    padding-right: 80px;
} 
.img{
    display: flex; 
    padding-bottom: 5px;
    text-decoration: none;
}


.mancity{color: rgb(14, 70, 3);
    padding-top: 5px;
    text-decoration: none;
}






.arsinal{ color: rgb(14, 68, 3);
    padding-top: 5px;
    text-decoration: none;
}


.newcastle{color: rgb(13, 61, 3);
    padding-top: 5px;
    text-decoration: none;

}


.Manchester{color: rgb(13, 59, 3);
    padding-top: 5px;
    text-decoration: none;
}

.Manchester-United{
    padding-top: 5px;
    text-decoration: none;
    color: rgb(31, 30, 30);
}

.United{
    padding-top: 5px;
    text-decoration: none;
    color: rgb(136, 7, 7);
}




.li{ color: grey;
    text-decoration: none; 
}


.BARCA{
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;

}
.color{
    background-color: rgb(208, 122, 122); ;
}

.SOCIEDAD{
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;

}
.BETIS{
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}
.ATHLETIC {
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}
.CAOSASUNA {
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}
.MALLORCA {
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}
.ALMERÍA {
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}
.VALLADOLID {
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}

.GETAFE {
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}

.ELCHE{
    display: flex; padding-bottom: 5px;
    background-color: rgb(208, 122, 122); ;
}

.div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: dimgray;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}