
body{
  background-color: green;
}
nav{ 
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(foot.jpg);
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
  width: 70%;
  padding:  200px 200px  200px  200px;
  position: absolute;
  right: 1px;
  top: 0px;

}
nav  li {
  padding-left: 10px;
}
nav a{
  text-decoration: none;

}
nav ul:hover{
  color: rgb(255, 255, 255);
}
nav p:hover{
  color: rgb(0, 0, 0);

}